<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Faturamento</title>
    <link rel="stylesheet" href="/static/css/TelaFaturamentoVarejo.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-dark text-white">

        <!-- Cabeçalho -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-info mb-1 rounded py-1">
        <div class="container-fluid d-flex justify-content-center">
            <span class="navbar-brand mb-0" style="font-size:1.5rem; font-weight:bold;">FATURAMENTO VAREJO</span>
        </div>
    </nav>

    <!-- Botões / Filtros -->
    <div class="container-fluid mb-2">
        <div class="d-flex flex-wrap align-items-center bg-dark rounded p1">
            <button class="btn btn-outline-light me-3 mb-0" id="Matriz">Matriz</button>
            <button class="btn btn-outline-light me-3 mb-0" id="Filial">Filial</button>
            <button class="btn btn-outline-light me-3 mb-0" id="Varejo">Varejo</button>
            <button class="btn btn-outline-light me-3 mb-0" id="Geral">Geral</button>
            <button class="btn btn-outline-light me-3 mb-0" id="Outros">Outros</button>

            <div class="ms-auto d-flex align-items-center mb-1">
                <label for="on-off" class="text-white me-2 mb-0">Status:</label>
                <input type="checkbox" id="on-off" checked>
                <span id="status" class="text-white ms-2">MENSAL</span>
            </div>
        </div>
    </div>

    <!-- Painel Superior (Tabela + Gráfico) -->
    <div class="container-fluid ">
        <div class="row g-3">

            <!-- Coluna da Tabela -->
            <div class="col-xl-6 col-lg-6 col-md-12 d-flex flex-column">
                <div class="div-container bg-custom-table p-0 rounded flex-grow-1">
                    <table class="table table-dark table-bordered table-striped w-100" id="TabelaFaturamento"></table>
                </div>
            </div>

            <!-- Coluna do Gráfico -->
            <div class="col-xl-6 col-lg-6 col-md-12 d-flex flex-column">
                <div class="div-container bg-custom-chart p-0 rounded flex-grow-1">
                    <canvas id="meuGraficoDeBarras" class="w-100 h-100"></canvas>
                </div>
            </div>

        </div>
    </div>

    <!-- Painel Inferior (Faturado no Dia + Retorna) -->
    <div class="container-fluid">
        <div class="row g-3">

            <!-- Faturado no Dia -->
            <div class="col-xl-6 col-lg-6 col-md-12 d-flex flex-column">
                <div class="bg-darkp-3 rounded d-flex flex-column align-items-center justify-content-center h-100">
                    <span class="fw-bold"></span>
                    <span id="FaturadoDia" class="fs-2">R$ 0,00</span>
                </div>
            </div>

            <!-- Retorna -->
            <div class="col-xl-6 col-lg-6 col-md-12 d-flex flex-column">
                <div class="bg-dark p-3 rounded d-flex flex-column align-items-center justify-content-center h-100">
                    <span class="fw-bold"></span>
                    <span id="Retorna" class="fs-2">R$ 0,00</span>
                </div>
            </div>

        </div>
    </div>

    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/static/js/TelaFaturamentoVarejo.js"></script>
<script>
    const onOffSwitch = document.getElementById("on-off");
const statusText = document.getElementById("status");

onOffSwitch.addEventListener("change", () => {
    if (onOffSwitch.checked) {
        statusText.innerText = "MENSAL";
        criarTabelaEmbalagens(DadosFaturamento, 'Faturado', 'meta');
        createBarChart('Faturado', 'meta');
        localStorage.setItem("dashboardStatus", "MENSAL");
        
    } else {
        statusText.innerText = "ACUMULADO";
        criarTabelaEmbalagens(DadosFaturamento, 'Fat.Acumulado', 'meta acum.');
        createBarChart('Fat.Acumulado', 'meta acum.');
        localStorage.setItem("dashboardStatus", "ACUMULADO");
    }
});

// Verifique o valor armazenado no localStorage
const localStorageStatus = localStorage.getItem("dashboardStatus");

if (localStorageStatus === "ACUMULADO") {
    // Se o valor estiver definido como "ACUMULADO", configure o botão para "ACUMULADO"
    onOffSwitch.checked = false;
    statusText.innerText = "ACUMULADO";
    window.addEventListener('load', async () => {
    await Faturamento();
    criarTabelaEmbalagens(DadosFaturamento, 'Fat.Acumulado', 'meta acum.');
    createBarChart('Fat.Acumulado', 'meta acum.'); 
    // Use uma função anônima para realizar o redirecionamento após 30 segundos.
    setTimeout(() => {
        window.location.href = "TelaFaturamentoOutraSaidas.html";
    }, 20000);
});

} else {
    // Caso contrário, configure o botão para "MENSAL"
    onOffSwitch.checked = true;
    statusText.innerText = "MENSAL";
    window.addEventListener('load', async () => {
    await Faturamento();
    criarTabelaEmbalagens(DadosFaturamento, 'Faturado', 'meta');
    createBarChart('Faturado', 'meta');
    // Use uma função anônima para realizar o redirecionamento após 30 segundos.
    setTimeout(() => {
        window.location.href = "TelaFaturamentoOutraSaidas.html";
    }, 20000);
   
});}
</script>
</html>
